<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Weather App</title>
</head>
<body>
	<form method="post">
		<input type="text" name="city" placeholder="Enter City" required>
		<button type="submit">Get Weather</button
	</form>
	{% if weather_data %}
		<h1>Weather in {{ weather_data['name'] }}</h1>
		<p>{{ weather_data['weather'][0]['description'] }}</p>
		<p>Temperature: {{ weather_data['main']['temp'] - 273.15 }}°C</orm>
		{% endif %}
</body>
</html>

